<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.saxman.whererunner">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:name=".WhereRunnerApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <uses-library android:name="com.google.android.wearable" android:required="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="vnd.google.fitness.TRACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.google.fitness.activity/biking"/>
            </intent-filter>

            <intent-filter>
                <action android:name="vnd.google.fitness.TRACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.google.fitness.activity/running"/>
            </intent-filter>

            <intent-filter>
                <action android:name="vnd.google.fitness.TRACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.google.fitness.activity/other"/>
            </intent-filter>

            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.google.fitness.data_type/com.google.heart_rate.bpm"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.GpsLocationService"
            android:exported="false" />

        <service
            android:name=".services.FusedLocationService"
            android:exported="false" />

        <service
            android:name=".services.HeartRateSensorService"
            android:exported="false" />

        <service
            android:name=".services.WorkoutRecordingService"
            android:exported="false" />

    </application>
</manifest>
